@model IEnumerable<Przepisnik.Models.Recipe>
@{
    ViewBag.Title = "Home Page";
}

<!-- main with cards -->
<main>
   
        <div class="row my-3">
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row my-3">
            <div class="col-sm-3">
                <div class="card border-info my-3">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras </li>

                    </ul>
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                        <hr>
                        <a href="#" class="badge badge-info mx-1">Obiad</a><a href="#" class="badge badge-info mx-1">Lunch</a><a href="#" class="badge badge-info mx-1">Mięsne</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-3">
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-info my-3 przepis">
                    <img class="card-img-top" src="..\Images\brakobrazka.jpg" alt="Card image cap">
                    <div class="card-body text-info">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

</main>

